* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

li {
  list-style-type: none;
}

.swiper-button-prev,
.swiper-button-next{
  color: rgb(217, 234, 234) !important;
  font-size: 18px !important;
}